/* css reset start */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul ,li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}
/* css reset end */

/* style css start */

body {
    font-family: 微軟正黑體;
}

.clearfix {
    clear: both;
}

.topbar {
    background-color: #f6f6f6;
}

.social {
    padding: 6px 0;
    float: right;
}

.social img, .social a {
    vertical-align: top;
}

.facebook {
    padding-right: 8px;
    border-right: 1px solid #cccccc;
}

.facebook a {
    color: #4460a0;
}

.twitter {
    padding-right: 4px;
}

.twitter a {
    color: #00aaec;
}

.social div {
    float: left;
    margin-right: 8px;
}

.logo {
    background-image: url(./img/logo.png);
    background-repeat: no-repeat;
    width: 224px;
    height: 50px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    margin-left: 20px;
}

.menu {
    float: right;
}

.menu li {
    float: left;
    line-height: 50px;
    height: 50px;
    margin: 0 25px;
    box-sizing: border-box;
    transition: 0.2s;
}

.menu li:hover {
    border-bottom: 3px solid #00cc99;
}

.menu li a {
    color: #42d3a9;
}

.banner {
    background-image: url(./img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 345px;
    display: flex;
    align-items: center; 
}

.banner h2 {
    color: white;
    padding: 26px 0 26px 20px;
    font-size: 36px;
    background-color: rgba(2, 2, 2, 0.15);
    line-height: 1.5;
    width: 100%;
}

.wrap {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.feature {
    padding: 65px 0;
}

.html, .rwd, .jquery {
    width: 300px;
    float: left;
    box-shadow: 0px 3px 4px 1px  rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    padding: 24px 22px;
    box-sizing: border-box;
    transition: 0.5s;
}

.html:hover, .rwd:hover, .jquery:hover {
    transform: scale(1.1,1.1);
}

.html img, .rwd img, .jquery img {
    display: block;
    margin: 0 auto;
}

.html h3, .rwd h3, .jquery h3 {
    text-align: center;
    color: #333333;
    font-size: 18px;
    line-height: 2;
}

.html p, .rwd p, .jquery p, .jquery li {
    color: #333333;
    font-size: 15px;
    text-align: justify;
    text-justify: distribute;
    line-height: 1.5;
}

.jquery ul {
    margin: 0;
    padding-inline-start: 20px;
    list-style: disc;
}

.difference {
    padding-bottom: 65px;
}

.difference h3 {
    text-align: center;
    color: #333333;
    font-size: 24px;
    margin-bottom: 30px;
}

.difference table {
    width: 85%;
    margin: 0 auto;
    color: #333333;
    line-height: 2.5;
    font-size: 15px;
}

.difference table tr {
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.difference table th {
    font-weight: bold;
    text-align: left;
    background-color: #f7f7f7;
}

.difference table th, .difference table td {
    padding: 0 24px;
}

.green {
    color: #00a67d;
}

.contact {
    background: linear-gradient(#00654c, #009871);
    padding-bottom: 30px;
}

.contact h3 {
    text-align: center;
    color: white;
    font-size: 24px;
    line-height: 1.5;
    font-weight: bold;
    padding: 38px 0;
}

.contact form {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.contact form textarea, .userinfo {
    float: left;
    width: 50%;
}

.userinfo input, .userinfo label {
    display: block;
    font-size: 15px;
    line-height: 1.5;
}

#name, #phone, #email {
    width: 100%;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    margin: 5px 0 8px 0;
    padding: 8px 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.contact form textarea {
    margin-right: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    resize: none;
    padding: 8px 10px;
    box-sizing: border-box;
}

.userinfo {
    margin-left: 20px;
}

.contact form label {
    color: white;
    font-size: 15px;
}

#send {
    float: right;
    background-color: #00cc99;
    color: white;
    border: 0px;
    border-radius: 3px;
    padding: 8px 21px;
    margin-top: 13px;
    transition: 0.5s;
    cursor: pointer;
}

#send:hover {
    background-color: #126450;
    transform: scale(1.1,1.1);
}

footer {
    width: 90%;
    margin: 0 auto;
    padding: 26px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerLogo {
    float: left;
}

.info {
    float: right;
    font-size: 15px;
    line-height: 1.5;
}

.pink {
    color: #e12d80;
}